<section id="home" class="hero">
  <div class="slides">
    <div class="slide active">
      <img src="./assets/leo5.jpg" alt="Citation ">
      <div class="text">"Chaque goutte de sang compte. Votre don peut être la différence entre la vie et la mort pour quelqu'un."</div>
    </div>
    <div class="slide">
      <img src="./assets/leo2.jpg" alt="Citation ">
      <div class="text">"La vie est le plus beau des dons, et donner du sang est un acte de vie."</div>
    </div>
    <div class="slide">
      <img src="./assets/wb97fGoUk3OJsAJDy1XcrRHaFPuYt3tGmBY6yiSS.jpg" alt="Citation ">
      <div class="text">"Donner du sang est un acte de générosité et de courage. Merci pour votre soutien."</div>
    </div>
    <div class="slide">
      <img src="./assets/leo3.jpg" alt="Citation ">
      <div class="text">"Donner du sang est un acte de générosité et de courage. Merci pour votre soutien."</div>
    </div>
    <div class="slide">
      <img src="./assets/leo4.jpg" alt="Citation ">
      <div class="text">"Donner du sang est un acte de générosité et de courage. Merci pour votre soutien."</div>
    </div>
  </div>
</section>

<section id="reviews" class="section reviews">
  <h2>Ce que disent les héros</h2>
  <div class="review user">
    <p>"Donner du sang a été une expérience incroyablement gratifiante. Je me sens bien d'avoir pu aider quelqu'un en besoin." - Sophie</p>
  </div>
  <div class="review admin">
    <p>"Merci Sophie pour votre générosité. Chaque don est précieux et aide à sauver des vies." - Équipe Don du Sang</p>
  </div>
  <div class="review user">
    <p>"Le processus était simple et bien organisé. Je recommande vivement à tout le monde de faire un don de sang." - Marc</p>
  </div>
  <div class="review admin">
    <p>"Merci Marc pour votre recommandation. Nous faisons de notre mieux pour rendre l'expérience aussi fluide que possible." - Équipe Don du Sang</p>
  </div>
  <div class="review user">
    <p>"Merci à toute l'équipe pour leur accueil chaleureux. Le don de sang est un acte important et je suis heureux d'y avoir participé." - Lisa</p>
  </div>
  <div class="review admin">
    <p>"Merci Lisa pour vos paroles réconfortantes. Nous apprécions grandement chaque don." - Équipe Don du Sang</p>
  </div>
</section>

<section id="contact" class="section contact">
  <h2 style="color: #333;     margin-left: 459px;">Contactez-Nous</h2>
  <form>
    <input type="text" placeholder="Votre nom" required>
    <input type="email" placeholder="Votre email" required>
    <textarea rows="4" placeholder="Votre message" required></textarea>
    <button type="submit">Envoyer</button>
  </form>
</section>
